<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheFoodStaple</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        footer {
            height: 200px;
            margin-bottom: 0px;
            background-color: #7575a3;
            width: 100%;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
            padding: 20px;
            font-size: 30px;
            width: 70px;
        }


        .fa-twitter {
            background: #55ACEE;
            color: white;
            padding: 20px;
            font-size: 30px;
            width: 70px;
        }

        .fa-instagram {
            background: #e6005c;
            color: white;
            padding: 20px;
            font-size: 30px;
            width: 70px;
        }

        .box {
            padding: 30px;
            width: 300px;
            height: auto;
            border: 2px solid black;
            margin-left: 390px;
            margin-top: 10px;
            background-color: black;
            border-radius: 12px;
        }

        .form-control {
            padding: 10px;
            width: 80%;
            border-radius: 25px;
            border: 4px solid #3333cc;
            height: 50px;
        }
        
            .form-control:focus {
                width: 95%;
            }

        .btn {
            margin-left: 40px;
            width: 100px;
            height: 40px;
            background-color: yellow;
            border: 2px solid black;
            border-radius: 25px;
        }
            .btn:hover {
                background-color: greenyellow;
                width:120px;
            }

        #imgone {
            width: 300px;
            height: 400px;
        }


        #imgtwo {
            border-radius: 50%;
            width: 170px;
        }
    </style>
</head>
<body style="background-color:cornflowerblue;">
    >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow navbar-inverse navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">TheFoodStaple</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light animated pulse delay-3s" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Fruits" asp-action="Fruit">Fruit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Vegetables" asp-action="Vegetable">Vegetables</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (@User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="User">User</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Sellers" asp-action="Seller">Seller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="YourOrder">User Order Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Sellers" asp-action="GetOrder">Seller Order Details</a>
                                </li>
                            }
                            else
                            if (@User.IsInRole("Seller"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Sellers" asp-action="AddFood">Add Food</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Sellers" asp-action="GetOrder">Order Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Sellers" asp-action="AddFood">Add Food</a>
                                </li>

                            }
                            else
                            if (@User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="User">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="YourOrder">Your Orders</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br /><br />
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="row">
            <div class="col-md-4">

                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>



            <div class="col-lg-4">
                <h3 style="text-align:center">&copy;TheFoodStaple</h3>

            </div>

            <div class="col-lg-4">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14008.538471218713!2d77.0775285717651!3d28.625727220744846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85a1bd69bafb213!2sBeing+Topper!5e0!3m2!1sen!2sin!4v1559992214862!5m2!1sen!2sin" width="300" height="160" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
